section#admin {
    min-height: 100%;
    max-width: 960px;
    padding: 0 20%;
    h1 {
        font-weight: bold;
        margin: 0 0 25px 0;
    }
    form {
        label {
            font-family: $font-sans-serif;
            font-size: 16px;
        }
        input[type="password"], textarea {
            padding: 10px 20px;
        }

        input, textarea {
            border: none;
            outline: none;
            background: #f1f1f1;
            width: 100%;
            margin: 0 0 25px 0;
            font-family: $font-sans-serif;
            font-size: 16px;
            color: #666;
            border-radius: 4px;
        }

        textarea {
            height: 100px;
        }

        button {
            border: none;
            background: $gold;
            padding: 10px 25px;
            border-radius: 4px;
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            span {
                color: #fff;
                font-family: $font-sans-serif;
                font-size: 16px;
            }

            &:hover {
                margin-top: 2px;
                background: #c4a502;
            }
        }
    }
}
