section#admin {
    min-height: 100%;
    padding: 0 50px;
    h1 {
        font-weight: bold;
        margin: 0 0 25px 0;
    }
    form {
        label {
            font-family: $font-sans-serif;
            font-size: 16px;
        }
        input[type="password"] {
            padding: 10px 20px;
        }

        input, textarea {
            border: none;
            outline: none;
            background: #f1f1f1;
            width: 100%;
            margin: 0 0 25px 0;
            font-family: $font-sans-serif;
            font-size: 16px;
            color: #666;
            border-radius: 4px;
        }

        textarea {
            height: 100px;
        }

        button {
            border: none;
            background: #1abc9c;
            padding: 10px 25px;
            span {
                color: #fff;
                font-family: $font-sans-serif;
            }
        }
    }
}
