header {
    width: 50%;
    min-height: 100%;
    position: fixed;
    text-align: center;
    padding: 100px 0;
    left: 0;
    background-image: -webkit-gradient(
    	linear,
    	left top,
    	left bottom,
    	color-stop(0, #31547E),
    	color-stop(1, #BBD9C8)
    );
    background-image: -o-linear-gradient(bottom, #31547E 0%, #BBD9C8 100%);
    background-image: -moz-linear-gradient(bottom, #31547E 0%, #BBD9C8 100%);
    background-image: -webkit-linear-gradient(bottom, #31547E 0%, #BBD9C8 100%);
    background-image: -ms-linear-gradient(bottom, #31547E 0%, #BBD9C8 100%);
    background-image: linear-gradient(to bottom, #31547E 0%, #BBD9C8 100%);
    img {
        border-radius: 100%;
        width: 125px;
    }

    #name, #job, #announcement {
        color: $white
    }

    #name {
        margin: 0 0 15px 0;
        font-size: 24px;
        font-weight: $bold;
        text-transform: uppercase;
    }

    #job {
        font-size: 30px;
        font-weight: $thin;
        font-size: 16px;
    }

    #announcement {
        margin: 25px 0;
        font-weight: $thin;
    }

}
