header {
    width: 50%;
    min-height: 100%;
    position: fixed;
    z-index: 200;
    text-align: center;
    left: 0;
    transition: all 250ms ease-in-out;

    nav {
        position: fixed;
        z-index: -100;
        left: 0;
        background: #fff;
        min-height: 100%;
        width: 300px;
        border-right: solid 1px #eee;
        text-align: center;
        ul {
            text-align: left;
            list-style: none;
            display: inline-block;
            margin: 75px 0 0 0;
            width: 100%;
            li {
                display: block;
                font-family: $font-sans-serif;
                font-size: 20px;
                padding: 10px 0 10px 50px;
                width: 100%;
                transition: all 250ms ease-in-out;
                &:hover {
                    background: #50c0fc;
                    color: #fff;
                }
            }

        }
    }

    #nav-toggle {
        position: fixed;
        z-index: 200;
        top: 35px;
        left: 25px;
        display: block;
    }

    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: #fff;
        position: absolute;
        display: block;
        content: '';
    }

    #nav-toggle span:before {
        top: -10px;
    }

    #nav-toggle span:after {
        bottom: -10px;
    }

    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        transition: all 250ms ease-in-out;
    }
    #nav-toggle.active span {
        background-color: transparent;
    }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
        top: 0;
        background-color: #000;
    }
    #nav-toggle.active span:before {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
    }
    #nav-toggle.active span:after {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
    }

    #top {
        position: absolute;
        z-index: 100;
        top: 0;
        right: 0;
        bottom: 50%;
        left: 0;
        padding: 50px 50px 25px 50px;
        background: #fff;

        .overlay {
            position: relative;
            background:rgba(0,0,0,0.3);
            background-image: -webkit-gradient(
                linear,
                left top,
                left bottom,
                color-stop(0, #b9b1b0),
                color-stop(1, #60acca)
            );
            background-image: -o-linear-gradient(bottom, #b9b1b0 0%, #60acca 100%);
            background-image: -moz-linear-gradient(bottom, #b9b1b0 0%, #60acca 100%);
            background-image: -webkit-linear-gradient(bottom, #b9b1b0 0%, #60acca 100%);
            background-image: -ms-linear-gradient(bottom, #b9b1b0 0%, #60acca 100%);
            background-image: linear-gradient(to bottom, #b9b1b0 0%, #60acca 100%);
            z-index: 200;
            opacity: .8;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        figure {
            z-index: 200;
            position: relative;
            margin: 0;
            padding: 0 75px;

            img {
                border-radius: 100%;
                width: 150px;
            }

            figcaption {
                #name, #job, #announcement {
                    color: $white;

                }

                #name {
                    margin: 15px 0 0 0;
                    font-size: 36px;
                    text-transform: uppercase;
                    font-weight: $bold;
                    a {
                        color: #fff;
                        font-family: $font-sans-serif;
                    }
                }

                #job {
                    font-size: 20px;
                    font-family: $font-serif;
                    opacity: .65;
                }
            }
        }
    }

    #bottom {
        position: absolute;
        z-index: 200;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 25px 50px;
        background: #fff;
        border-right: solid 1px #eee;
        text-align: center;
        white-space: nowrap;
        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        .content {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            p#bummer {
                font-size: 32px;
                font-family: $font-serif;
                font-style: italic;
            }
            p {
                font-family: $font-sans-serif;
            }
        }
    }
    &.active {
        left: 300px !important;
    }
}
