#posts {
    padding: 0 50px;
    article {
        /* background: #eee; */
        text-align: left;
        margin: 0 auto 25px auto;
        border-bottom: 1px solid #eee;
        h1 {
            margin: 0 0 15px 0;
            line-height: 38px;
            a.title {
                font-weight: $bold;
                font-size: 36px;
                color: #000;
                font-family: $font-sans-serif;
            }
        }
        p {
            padding: 12px 0;
            white-space: pre-line;
            font-size: 20px;
        }
        span.date {
            display: block;
            font-family: $font-sans-serif;
            font-size: 12px;
            color: #bdc3c7;
            .published {
                color: #000;
                font-family: inherit;
            }

        }

        &:last-child {
            border: none;
        }
    }
}
