#posts {
    article {
        /* background: #eee; */
        text-align: left;
        margin: 0 auto 25px auto;
        border-bottom: 1px solid #eee;
        a.title {
            font-weight: $bold;
            font-size: 32px;
            color: #000;
            font-family: $font-sans-serif;
        }
        p {
            padding: 12px 0;
            white-space: pre-line;
        }
        span.date {
            display: block;
        }

        &:last-child {
            border: none;
        }
    }
}
