#posts, #post {
    padding: 0 25px;
    max-width: 960px;
    margin: 0 auto;
    article {
        /* background: #eee; */
        text-align: left;
        margin: 0 auto 25px auto;
        border-bottom: 1px solid #fff;
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        h1 {
            margin: 0 0 15px 0;
            line-height: 45px;
            font-weight: 700;
            font-size: 42px;
            font-family: $font-sans-serif;
            text-shadow: 2px 2px $blue;
            text-transform: uppercase;
            letter-spacing: .1em;
            a.title {
                z-index: 200;
                font-weight: $bold;
                font-size: 42px;
                color: $yellow;
                font-family: $font-sans-serif;
            }
        }
        p {
            font-family: $font-sans-serif;
            padding: 12px 0;
            white-space: pre-line;
            font-size: 20px;
            font-weight: 300;
            color: $white;
        }
        span.date {
            display: block;
            font-family: $font-sans-serif;
            font-size: 12px;
            color: $pink;
            .published {
                color: $white;
                font-family: inherit;
            }

        }

        &:last-child {
            border: none;
        }
    }
}
#post {
    padding: 0 65px;
    article {
        h1 {
            color: $yellow;
        }
        p:before {

            width: 75px;
            height: 3px;
            margin: 0 0 25px;
            background: $pink;
            display: block;
            border-radius: 3px;
            content: "";


        }
    }
}
