@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Lora);

$green: #36bd8e;
$white: #ffffff;
$font-serif: 'Lora', 'Times', 'Times New Roman', serif;
$font-sans-serif: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', arial, sans-serif;
$bold: 700;
$regular: 400;
$thin: 300;
