@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

$green: #27ae60;
$gold: #B29600;
$white: #ffffff;
$blue: #3498db;
$pink: #FF69B4;
$font-serif: 'Droid Serif', 'Times', 'Times New Roman', serif;
$font-sans-serif: 'Helvetica Neue', 'Helvetica', arial, sans-serif;
$bold: 700;
$regular: 400;
$thin: 300;
