@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

$green: #27ae60;
$gold: #B29600;
$white: #ffffff;
$blue: #3a6ae4;
$pink: #ffc5df;
$yellow: #ffec55;
$gray: #444444;
$font-serif: 'Droid Serif', 'Times', 'Times New Roman', serif;
$font-sans-serif: 'News Cycle', arial, sans-serif;
$bold: 700;
$regular: 400;
$thin: 300;
