@import 'variables';
@import 'header';
@import 'main-content';
@import 'posts';
@import '_admin';
@import '_about';
@import 'media-queries/_main';
@import 'media-queries/_iphone-4';
@import 'media-queries/_iphone-5';
@import 'media-queries/_iphone-6';

html * {
    font-family: 'Times', 'Times New Roman', serif;
    a {
        color: #36bd8e;
        text-decoration: none;
    }
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    }
    input:focus {
        outline: none;
    }
}

body {
    background: #eee;
    #content-views {
        position: relative;
    }

    .ng-enter, .ng-leave {
        width:100%;
        position:absolute;
    }

    .ng-enter {
        -webkit-animation:fadeIn .4s both ease-in-out;
        -moz-animation:fadeIn .4s both ease-in-out;
        animation:fadeIn .4s both ease-in-out;
     }

     /* .ng-leave {
         -webkit-animation:fadeOut .4s both ease-out;
         -moz-animation:fadeOut .4s both ease-out;
         animation:fadeOut .4s both ease-out;
      }
      */

    input[type="text"] {
        padding: 10px 60px 10px 20px;
        border: none;
        background: #E9E9E9;
        margin-right: 10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        font-size: 0.7em;
        outline: none;
    }
    input[type="submit"] {
        background: #51ADED;
        padding: 10px;
        border: none;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        color: #fff;
    }
}
