<section id="about">
    <h1>About</h1>

    <p>
        I'm Tim Lauter, a front-end developer at IBM. I came here by way of the best
        web design agency in Philadelphia,
        <a href="http://www.impartcreative.com">Impart Creative</a>, a brief
        stint at the Daily Show, and some time as a goat farmer in Alaska.
        I graduated from NYU and my primary focus is JavaScript and UX.
    </p>
    <p>
        You'll catch me between Manhattan or Philadelphia, but can be reached by email
        at <a href="mailto:timothy.lauter@gmail.com">timothy.lauter@gmail.com</a>.
    </p>
</section>
