<h1>Admin</h1>

<form name="postForm" action="#" ng-submit="post.createPost(postData)">

    <div class="form-group">
        <label>title</label>
        <input type="text" class="form-control" ng-model="postData.title">
    </div>



    <script src="http://cdn.quilljs.com/latest/quill.js"></script>

    <!-- Create the toolbar container -->
<div id="toolbar">
  <button class="ql-bold">Bold</button>
  <button class="ql-italic">Italic</button>
</div>

<!-- Create the editor container -->
<div id="editor">
  <div>Hello World!</div>
</div>

<!-- Include the Quill library -->


<!-- Initialize Quill editor -->
<script>
  var editor = new Quill('#editor');
  editor.addModule('toolbar', { container: '#toolbar' });
</script>













    <div class="form-group">
        <label>Content</label>
        <textarea type="text" class="form-control" ng-model="postData.content">

        </textarea>
    </div>

    <div class="form-group">
        <label>Image</label>
        <input type="text" class="form-control" ng-model="postData.img">
    </div>

    <div class="form-group">
        <label>Topic</label>
        <input type="text" class="form-control" ng-model="postData.topic">
    </div>

    <button type="submit" class="btn btn-block btn-primary">
        <span>Add Post</span>
    </button>

</form>
