<section id="admin" ng-if="post.isLoggedIn">
    <h1>Admin</h1>

    <form name="postForm" action="#" ng-submit="post.createPost(postData)">
        <div class="row">
            <div class="small-12 large-centered columns">
                <div class="row">
                    <div class="small-12 columns">
                        <input type="text" class="form-control" placeholder="Title" ng-model="postData.title">
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        <textarea type="text" class="form-control" placeholder="Content" ng-model="postData.content">
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <label>Content
                            <textarea ng-model="postData.content"></textarea>
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        <input type="text" class="form-control" placeholder="Image" ng-model="postData.img">
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        <input type="text" class="form-control" placeholder="Topic" ng-model="postData.topic">
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        <button type="submit" class="right button">
                            <span>Add Post</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<section id="admin" ng-if="!post.isLoggedIn">
    <h1>Login</h1>

    <form name="loginForm" ng-submit="post.login(loginData)">
        <div class="row">
            <div class="small-12 large-centered columns">
                <div class="row">
                    <div class="small-12 columns">
                        <input type="text" class="form-control" placeholder="Email" ng-model="loginData.email">
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        <input type="password" class="form-control" placeholder="Password" ng-model="loginData.password">
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        <button type="submit" class="right button">
                            <span>Login</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
