<h1>Admin</h1>

<form>

    <!-- USERNAME INPUT -->
    <div class="form-group">
        <label>title</label>
        <input type="text" class="form-control" ng-model="userData.title">
    </div>

    <!-- PASSWORD INPUT -->
    <div class="form-group">
        <label>Content</label>
        <textarea type="text" class="form-control" ng-model="userData.password">

        </textarea>
    </div>


    <div class="form-group">
        <label>Image</label>
        <input type="text" class="form-control" ng-model="userData.img">
    </div>

    <div class="form-group">
        <label>Topic</label>
        <input type="text" class="form-control" ng-model="userData.topic">
    </div>

    <!-- LOGIN BUTTON -->
    <button type="submit" ng-click="createPost(userData)" class="btn btn-block btn-primary">
        <span>Add Post</span>
    </button>

</form>
