header {
  width: 50%;
  min-height: 100%;
  position: fixed;
  text-align: center;
  left: 0; }
  header #top {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 50%;
    left: 0;
    padding: 25px 50px;
    overflow: hidden;
    /* background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #b9b1b0),
        color-stop(1, #60acca)
    );
    background-image: -o-linear-gradient(bottom, #b9b1b0 0%, #60acca 100%);
    background-image: -moz-linear-gradient(bottom, #b9b1b0 0%, #60acca 100%);
    background-image: -webkit-linear-gradient(bottom, #b9b1b0 0%, #60acca 100%);
    background-image: -ms-linear-gradient(bottom, #b9b1b0 0%, #60acca 100%);
    background-image: linear-gradient(to bottom, #b9b1b0 0%, #60acca 100%); */
    /* background: url("../images/flower-bg.png") 0 0 no-repeat;
    background-size: cover;
     */ }
    header #top .overlay {
      position: relative;
      /* background:rgba(0,0,0,0.3); */
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b9b1b0), color-stop(1, #60acca));
      background-image: -o-linear-gradient(bottom, #b9b1b0 0%, #60acca 100%);
      background-image: -moz-linear-gradient(bottom, #b9b1b0 0%, #60acca 100%);
      background-image: -webkit-linear-gradient(bottom, #b9b1b0 0%, #60acca 100%);
      background-image: -ms-linear-gradient(bottom, #b9b1b0 0%, #60acca 100%);
      background-image: linear-gradient(to bottom, #b9b1b0 0%, #60acca 100%);
      z-index: 200;
      opacity: .8;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
    header #top .content {
      z-index: 200;
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      transform: translateY(-50%);
      padding: 0 85px; }
      header #top .content img {
        border-radius: 100%;
        width: 175px;
        /* display: block; */ }
      header #top .content #name, header #top .content #job, header #top .content #announcement {
        color: #ffffff;
        /* text-align: left; */
        display: block; }
      header #top .content #name {
        margin: 25px 0 0 0;
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 700; }
      header #top .content #job {
        font-size: 22px;
        font-family: "Times", "Times New Roman", serif;
        text-align: center;
        /* font-style: italic; */
        /* color: #000; */
        opacity: .65; }
  header #bottom {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 25px 50px;
    background: #fff;
    border-right: solid 1px #eee; }
    header #bottom .content {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      transform: translateY(-50%); }
      header #bottom .content p#bummer {
        font-size: 40px;
        font-family: "Times", "Times New Roman", serif;
        font-style: italic; }
      header #bottom .content p {
        font-family: "Helvetica Neue", "Helvetica", sans-serif; }

main {
  margin: 0 0 0 50%;
  padding: 25px 0 0 0;
  background: #fdfdfd; }

#posts article {
  /* background: #eee; */
  text-align: left;
  margin: 0 auto 25px auto;
  border-bottom: 1px solid #eee; }
  #posts article a.title {
    font-weight: 700;
    font-size: 32px;
    color: #000;
    font-family: "Helvetica Neue", "Helvetica", sans-serif; }
  #posts article p {
    padding: 12px 0;
    white-space: pre-line; }
  #posts article span.date {
    display: block;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 12px;
    color: #50c0fc; }
    #posts article span.date .published {
      color: #000;
      font-family: inherit; }
  #posts article:last-child {
    border: none; }

@media screen and (max-width: 1026px) {
  header {
    width: 40%; }
    header section#top .content {
      padding: 25px; }
      header section#top .content #job {
        width: 100%;
        font-size: 16px; }

  main {
    margin: 0 0 0 40%; }
    main section#posts {
      padding: 0 0 0 50px; }
      main section#posts article:last-child {
        float: left; } }
@media screen and (max-width: 910px) {
  header section#top .content #name {
    font-size: 28px; } }
@media screen and (max-width: 768px) {
  header {
    z-index: 200;
    width: 100%;
    min-height: 0;
    height: 60px;
    position: fixed;
    text-align: left;
    background: #fff;
    border-bottom: solid 1px #eee; }
    header section#top {
      padding: 0;
      position: static; }
      header section#top .overlay {
        display: none; }
      header section#top .content {
        margin: 0;
        padding: 0; }
        header section#top .content img {
          width: 57px;
          line-height: 60px;
          border-radius: 0;
          vertical-align: middle;
          float: left;
          margin: 0 15px 0 0; }
        header section#top .content #name {
          margin: 0;
          font-size: 16px;
          line-height: 60px;
          vertical-align: middle;
          color: #000; }
        header section#top .content #job {
          display: none; }
    header section#bottom {
      display: none; }

  main {
    z-index: 100;
    margin: 0;
    padding: 60px 0 0 0; }
    main section#posts {
      margin: 25px auto 0 auto; } }
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  header {
    z-index: 200;
    width: 100%;
    min-height: 0;
    height: 60px;
    position: fixed;
    text-align: left;
    background: #fff;
    border-bottom: solid 1px #eee; }
    header section#top {
      padding: 0;
      position: static; }
      header section#top .overlay {
        display: none; }
      header section#top .content {
        margin: 0;
        padding: 0; }
        header section#top .content img {
          width: 57px;
          line-height: 60px;
          border-radius: 0;
          vertical-align: middle;
          float: left;
          margin: 0 15px 0 0; }
        header section#top .content #name {
          margin: 0;
          font-size: 16px;
          line-height: 60px;
          vertical-align: middle;
          color: #000; }
        header section#top .content #job {
          display: none; }
    header section#bottom {
      display: none; }

  main {
    z-index: 100;
    margin: 0;
    padding: 60px 0 0 0; }
    main section#posts {
      margin: 25px auto 0 auto; } }
html * {
  font-family: 'Times', 'Times New Roman', serif; }
  html * a {
    color: #36bd8e;
    text-decoration: none; }
  html * h1, html * h2, html * h3, html * h4, html * h5, html * h6 {
    margin: 0;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif; }
  html * input:focus {
    outline: none; }

body {
  background: #eee; }
  body input[type="text"] {
    padding: 10px 60px 10px 20px;
    border: none;
    background: #E9E9E9;
    margin-right: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 0.7em;
    outline: none; }
  body input[type="submit"] {
    background: #51ADED;
    padding: 10px;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff; }

/*# sourceMappingURL=main.css.map */
