/*********************************************
***             IPHONE 6 PLUS              ***
*********************************************/
@media only screen
    and (max-device-width: 640px),
    only screen and (max-device-width: 667px),
    only screen and (max-width: 480px){
        /* #nav-toggle, nav {
            display: none;
        } */
        header {
            width: 100%;
            min-height: 100px;
            position: static;
            nav {
                z-index: -1;
                top: 0;
                right: 0;
                bottom: 150px;
                left: -60%;
                width: 60%;
                ul {
                    margin-top: 100px;
                    li {
                        font-size: 22px;
                    }
                }
            }
            a#nav-toggle {
                z-index:1000;
            /*     position: absolute; */
                span {

                    /* &:nth-child(1) {
                        top: 8;
                    }

                    &:nth-child(2) {
                        top: 18px;
                    }

                    &:nth-child(3) {
                        top: 28px;
                    } */
                }
            }
            section#top {
                padding: 0;
                position: static;
                height: 200px;
                .overlay {
                    display: none;
                }

                figure {
                    padding: 25px 0;
                    img {
                        margin-top: 25px;
                        width: 35%;
                    }
                    figcaption {
                        padding: 0;
                        #name {
                            margin: 25px 0 5px 0;
                            font-size: 32px;
                            line-height: 60px;
                            vertical-align: middle;
                            color: #000;
                            line-height: 25px;
                        }
                        #job {
                            display: none;
                        }
                        #title {
                            display: block;
                            font-size: 30px;
                            font-style: italic;
                        }
                    }
                }

            }
            section#bottom {
                display: none;
            }
            &.active {
                /* margin-right: -40%; */
                nav {
                    z-index: 900;
                    left: 0;
                }
            }
        }
        main {
            #content-overlay {
                margin: 0;
            }
            top: 0px;
            z-index: 0;
            position: relative;
            margin: 0;
            padding: 60px 0 25px 0;
            section {
                margin: 25px auto 0 auto;
            }

            section#about, section#posts, section#admin {
                padding: 0 25px;
            }


            &.active {
                left: 0;
                /* z-index: 1; */
            }

        }
}
/*********************************************
***             END IPHONE 6 PLUS          ***
*********************************************/
