@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    /* #nav-toggle, nav {
        display: none;
    } */
    header {
        width: 100%;
        min-height: 100px;
        position: static;
        nav {
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 150px;
            left: -60%;
            width: 60%;
            ul {
                margin-top: 100px;
                li {
                    font-size: 38px;
                    padding-bottom: 25px;
                    padding-left: 150px;
                }
            }
        }
        a#nav-toggle {
            z-index:1000;
            span {
                height: 10px;
                width: 60px;

                &:nth-child(1) {
                    top: 0;
                }

                &:nth-child(2) {
                    top: 18px;
                }

                &:nth-child(3) {
                    top: 36px;
                }
            }
        }
        section#top {
            padding: 0;
            position: static;
            .overlay {
                display: none;
            }

            figure {
                padding: 25px 0;
                img { width: inherit; }
                figcaption {
                    padding: 0 25%;
                    #name {
                        margin: 25px 0 5px 0;
                        font-size: 32px;
                        line-height: 60px;
                        vertical-align: middle;
                        color: #000;
                        line-height: 25px;
                    }
                    #job {
                        display: none;
                    }
                    #title {
                        display: block;
                        font-size: 30px;
                        font-style: italic;
                    }
                }
            }

        }
        section#bottom {
            display: none;
        }
        &.active {
            /* margin-right: -40%; */
            nav {
                z-index: 900;
                left: 0;
            }
        }
    }
    main {
        #content-overlay {
            margin: 0;
        }
        z-index: 500;
        position: relative;
        margin: 0;
        padding: 60px 0 0 0;
        section#posts {
            margin: 25px auto 0 auto;
        }
        &.active {
            /* margin-right: -40%; */
            /* z-index: 1; */
        }

    }
}
