@media screen and (max-width: 1200px) {
    section#post {
        padding: 0 25px;
        article {
                h1 {
                    line-height: 46px;
                }

            padding: 0 40px;
        }


    }
}

@media screen and (max-width: 1026px) {
    main {
        section#post {
            padding: 0 25px;
            article {
                    h1 {
                        line-height: 46px;
                    }

                padding: 0 40px;
            }


        }
    }
}

@media only screen and (max-width: 910px) {
    header {
        section#top {
            figure {
                figcaption {
                    #name {
                        font-size: 26px;
                    }
                    #job {
                        font-size: 16px;
                    }

                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    body { overflow-x: hidden; }
    header {
        width: 100%;
        min-height: 325px;
        position: relative;

        #nav-toggle {
            position: fixed;
        }
        #top {
            padding: 25px 0;
            figure {
                img {
                    margin: 0;
                }
            }
            #love { display: none; }
        }
        &.active {
            left: 300px;
        }
    }
    main {
        position: relative;
        overflow: visible;
        top: 0;
        width: 100%;
        margin: 0;
        z-index: 200;
        #content-overlay {
            display: none;
        }
        margin: 0;
        padding: 60px 0 25px 0;
        section {
            margin: 25px auto 0 auto;
        }

        section#about, section#posts, section#admin {
            padding: 0 25px;
        }

        section#posts {
            article:last-child {
                float: left;
            }
        }

        section#post {
            a.back {
                position: relative;
                left: 0;
                &:before {
                    content: '⇜';
                    padding: 0;
                    color: $pink;
                }
            }
        }

        &.active {
            left: 300px;
            /* z-index: 1; */
        }

    }
}
