@media screen and (max-width: 1200px) {
    section#post {
        padding: 0 25px !important;
        article {
                h1 {
                    line-height: 46px;
                }

            padding: 0 40px;
        }


    }
}

@media screen and (max-width: 1026px) {
    header {
        width: 40%;
        background: #000;
        /* background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #b9b1b0),
            color-stop(1, #60acca)
        );
        background-image: -o-linear-gradient(bottom, #b9b1b0 0%, #60acca 100%);
        background-image: -moz-linear-gradient(bottom, #b9b1b0 0%, #60acca 100%);
        background-image: -webkit-linear-gradient(bottom, #b9b1b0 0%, #60acca 100%);
        background-image: -ms-linear-gradient(bottom, #b9b1b0 0%, #60acca 100%);
        background-image: linear-gradient(to bottom, #b9b1b0 0%, #60acca 100%);
         */
        section#top {
            background-image: none;
            background: transparent;
            bottom: 0;
            .overlay {
                opacity: 1;
                background: #222;
            }
            figure {
                padding: 0 5px;
                margin: 0;
                img {

                }
                figcaption {
                    #name {
                        font-size: 28px;
                    }
                    #job {
                        font-size: 18px;
                    }
                }
            }
        }

        section#bottom {
            display: none;
        }

    }
    main {
        margin: 0 0 0 40%;
        #content-overlay {
            margin: 0 0 0 40%;
        }
        section#posts {
            padding: 0 0 0 50px;
            article {

                &:last-child {
                    float: left;
                }

            }
        }
    }
}

@media screen and (max-width: 1026px) {
    main {
        section#post {
            padding: 0 25px !important;
            article {
                    h1 {
                        line-height: 46px;
                    }

                padding: 0 40px;
            }


        }
    }
}

@media only screen and (max-width: 910px) {
    header {
        section#top {
            figure {
                figcaption {
                    #name {
                        font-size: 26px;
                    }
                    #job {
                        font-size: 16px;
                    }

                }
            }
        }
    }
    main {

    }
}

@media only screen and (max-width: 768px) {
    header {
        width: 100%;
        min-height: 100px;
        position: static;
        nav {
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 150px;
            left: -300px;
        }
        a#nav-toggle {
            z-index:1000;
        }
        section#top {
            padding: 0;
            position: static;
            .overlay {
                display: none;
            }

            figure {
                padding: 25px 0;
                img {}
                figcaption {
                    padding: 0 25%;
                    #name {
                        margin: 15px 0 0 0;
                        font-size: 16px;
                        line-height: 60px;
                        vertical-align: middle;
                        color: #000;
                        line-height: 25px;
                    }
                    #job {

                    }
                    #title {
                        display: none;
                        font-size: 16px;
                        font-style: italic;
                    }
                }
            }
            p#love {
                display: none;
            }
        }
        section#bottom {
            display: none;
        }
        &.active {
            /* margin-right: -40%; */
            nav {
                z-index: 900;
                left: 0;
            }
        }
    }
    main {
        #content-overlay {
            margin: 0;
        }
        z-index: 500;
        position: relative;
        margin: 0;
        padding: 60px 0 0 0;
        section#posts {
            margin: 25px auto 0 auto;
        }
        &.active {
            /* margin-right: -40%; */
            /* z-index: 1; */
        }

        /* #admin {
            padding: 0 10px;
            text-align: center;
            button[type="submit"].right.button {
                float: none !important;
            }
        } */


        section#post {
            padding: 0 50px;
        }



    }
}
