@media screen and (max-width: 1026px) {
    header {
        width: 40%;
        background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #b9b1b0),
            color-stop(1, #60acca)
        );
        background-image: -o-linear-gradient(bottom, #b9b1b0 0%, #60acca 100%);
        background-image: -moz-linear-gradient(bottom, #b9b1b0 0%, #60acca 100%);
        background-image: -webkit-linear-gradient(bottom, #b9b1b0 0%, #60acca 100%);
        background-image: -ms-linear-gradient(bottom, #b9b1b0 0%, #60acca 100%);
        background-image: linear-gradient(to bottom, #b9b1b0 0%, #60acca 100%);

        section#top {
            background-image: none;
            background: transparent;
            bottom: 0;
            .overlay { display: none };
            figure {
                padding: 0 5px;
                margin: 0;
                img {

                }
                figcaption {
                    #name {
                        font-size: 28px;
                    }
                    #job {
                        font-size: 18px;
                    }
                }
            }
        }

        section#bottom {
            display: none;
        }

    }
    main {
        margin: 0 0 0 40%;
        #content-overlay {
            margin: 0 0 0 40%;
        }
        section#posts {
            padding: 0 0 0 50px;
            article {

                &:last-child {
                    float: left;
                }

            }
        }
    }
}

@media only screen and (max-width: 910px) {
    header {
        section#top {
            figure {

                figcaption {
                    #name {
                        font-size: 26px;
                    }
                    #job {
                        font-size: 16px;
                    }

                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #nav-toggle, nav {
        display: none;
    }
    header {
        width: 100%;
        min-height: 100px;
        position: static;
        section#top {
            padding: 0;
            position: static;
            .overlay {
                /* display: none; */
            }

            figure {
                padding: 25px 0;
                img {
                    /* width: 57px;
                    border-radius: 0;
                    vertical-align: middle;
                    float: left;
                    margin: 0 15px 0 0; */
                }
                figcaption {
                    padding: 0 25%;
                    #name {
                        margin: 15px 0 0 0;
                        font-size: 16px;
                        line-height: 60px;
                        vertical-align: middle;
                        color: #000;
                        line-height: 25px;
                    }
                    #job {
                        /* display: block;; */
                    }
                    #title {
                        display: none;
                        font-size: 16px;
                        font-style: italic;
                    }
                }
            }

        }
        section#bottom {
            display: none;
        }
    }
    main {
        z-index: 100;
        margin: 0;
        padding: 60px 0 0 0;
        section#posts {
            margin: 25px auto 0 auto;
        }

    }
}
